extends base

block content
    .container
        h2 About

        p Here are a few words that explain the general purpose of what this site is, in case you need to do that again because you failed to do so on the home page.

        p It might be a good place to go more in depth about the reasons this site exists, e.g. the goals that it hopes to acheive or the specificiations it was trying to meet.
