extends base

block content
    .container
        h2 Home

        p Here is a bit of introductory information about this website. It would be nice to give a fairly broad overview that spans several layers of potential audience competencies but like most things that is easier said than done.
